.products_sect {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  padding: 1rem;
}

.products_left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50%;
  height: 30rem;
}
.products_left form {
  /* height: 20rem; */
  display: flex;
  justify-content: center;
}
.title {
  color: black;
}

form div p {
  color: black;
}

.products_right {
  width: 50%;
  height: 30rem;
  display: block;
}
.products_right img {
  width: 100%;
  height: 100%;
  place-content: center;
  object-fit: fill;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.bottom .order {
  background-color: #151c32;
  display: flex;
  align-items: start;
  flex-direction: row;
  text-align: start;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 35rem;
  height: auto;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.order_desc {
  width: 50%;
  margin: 0 1rem;
}

.product_desc h2,
.p {
  color: white;
}

.product_desc .price {
  color: red;
}

.order_img {
  height: 100%;
  width: 50%;
}

.order_img img {
  min-height: 100%;
  display: block;
  object-fit: fill;
  width: 100%;
}

.product_desc p {
  min-width: 70%;
}

.add {
  width: 15rem;
  height: 13rem;
  display: grid;
  place-content: center;
  border-radius: 1rem;
  background-color: #151c32;
  font-size: 5rem;
}

.add:hover {
  background-color: #0f0f14;
  transition: all ease-in-out 0.5s;
}
