.header_sect nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.foodie_logo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.foodie_logo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
/* BANNERS SECTION  */
.banner_sect {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 2px;
}

/* USER PROFILE  */
.user_profile {
  cursor: pointer;
}

.left nav ._icons {
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1rem;
  display: block;
  place-content: center;
  cursor: pointer;
  /* background-color:crimson; */
}
nav a.active {
  color: aliceblue;
  border-radius: 50%;
  background-color: crimson;
}

nav a:not(active) {
  color: white;
}

/* FOOTER section */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid white;
  padding-top: 0.5rem;
  margin-top: 1rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer ._icons {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 50%;
}

.footer ._icons:hover {
  background-color: crimson;
  color: white;
}

/* SEARCH BAR SECTION  */
.search {
  display: flex;
  flex-direction: row;
}
.search input {
  padding-inline-start: 0.5rem;
}
