.billing_details {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.location_details form{
  border-radius: 1rem;
  margin-top: 1rem;
  padding: .5rem 2rem;
}

.location_details form .inputs{
  margin: .5rem 0;
}

.location_details form input{
  width: 90%;
}


 .location_details{
  width:50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


.location_details form .form_title{
  color: black;
}

.form_inputs .inputs label {
  text-align: left;
  margin-left: .5rem;
}
label {
  color: black;
  float: left;
  padding: 0.2rem 0;
}
