.admin_header_sect{
    border: 2px solid red;
    width: 70rem;
    background-color: red;
}

.header_sect{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}
.header_sect .left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.header_sect .right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


/* // nav links */
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.link {
    text-align: center;
    padding: 0;
}
