.summary{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: .5rem;
}

.summary .orderDetails{
    display: flex;
    align-items: start;
    flex-direction: column;
}

 .orders_desc {
    width: 40rem;
}

.orderDetails ._form{
    background:none;
    width: 20rem;

}

.orderDetails ._form .inputs{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: .5rem;
}

.orderDetails ._form .inputs label{
    padding-left: .5rem;
    color: white;

}
.orderDetails ._form .inputs select{
    height: 2rem;
    margin-left: .5rem;
    width: 92%;
    padding: .5rem;
}
.orderDetails ._form .inputs input{
    width: 90%;
    padding-left: 0;

}

.summary .billing_details_right {
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 1px 1px 2px;
    height: fit-content;
}

.summary .billing_details_right table {
    padding: 1rem;
}

.billing_details_right table th{
    text-align: start;
}

.billing_details_right table td{
    text-align: end;
}

.billing_details_right table td p span{
    text-decoration: line-through;
    color: red;
}