
.signup_sect{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1rem;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1rem;
  border-radius: 0.5rem;
  width: 20rem;
  height: auto;
}

._form{
  padding: 1rem;
}
._form input {
  height: 2rem;
  margin: .5rem;
}
form input {
  padding-inline-start: 0.5rem;
  min-width: 90%;

}
form div {
  width: 100%;
  height: auto;
}

form p {
  color: black;
  padding: 0;
}
