form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  padding: 0 1rem;
  border-radius: 0.5rem;
  width: 20rem;
}

form input {
  padding-inline-start: 0.5rem;
  min-width: 90%;

}
form div {
  width: 100%;
  height: auto;
}

p {
  color: black;
  padding: 0;
}
