.orders_sect {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
}

.orders_sect .order {
  padding: 0.5rem;
  background-color: #0F0F13;
  border-radius: 0.5rem;
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30rem;
  gap: 1rem;
}

.order_desc {
  width: 50%;
}
.order .order_img {
  width: 50%;
  display: block;

}

.order .order_img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.order_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

 .order_desc .buttons {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
}

 .buttons button{
  background-color:#52556C;
}
.order_desc .buttons button:hover{
  background-color: black;
}

.order_desc h2,
.p {
  color: white;
}


 .buttons .btn2{
  background-color: none;
  background-color: yellow;
  color: black;
}

.buttons .btn2:hover{
  color: black;
}

